{% extends 'base.html.twig' %}

{% block body %}
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to Push Master!</h1>

      <p>

      </p>

      <!--    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
    </div>
  </div>

<div class="container">

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
    rutrum lorem, id maximus augue eleifend ac. Nulla vulputate vehicula
    turpis id vestibulum. Aliquam vulputate auctor sapien non faucibus.
    Donec auctor lectus in dictum molestie. Nunc vitae mauris quam.
    Curabitur aliquam lobortis vulputate. Suspendisse suscipit
    hendrerit nulla.
  </p>

  <p>
    Donec fringilla suscipit lobortis. Morbi a pretium eros, vitae venenatis
    orci. Pellentesque malesuada neque nec mi semper posuere. Nunc
    scelerisque, mi scelerisque convallis mollis, neque mauris elementum
    lorem, eget lobortis augue libero porttitor turpis. Vivamus vestibulum
    urna felis, non hendrerit lectus molestie at. Cras sollicitudin et
    enim a blandit. Aenean elementum tellus id sapien aliquam tincidunt.
    Etiam blandit nulla massa, eget aliquam urna pretium nec. Vivamus
    congue magna nec augue consectetur euismod. Maecenas vitae interdum
    massa. Maecenas vehicula sem convallis mauris ullamcorper, eu bibendum
    sapien tempus. Vestibulum cursus, mauris iaculis lacinia tristique, mi
    felis laoreet nisl, vitae consectetur ex magna mattis leo. Fusce
    tristique id mauris quis aliquam.
  </p>

</div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}
