{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<h1>Standings</h1>

  <p>
    This page will show the current standings in the league and
    from previous years.
  </p>

</div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}
