{% extends 'base.html.twig' %}

{% block body %}
<div class="container" data-bind="
	css: {
		'has-error': loadingFailed
	}">
	<h1>Submit Your Picks</h1>

	<div data-bind="visible: loading" class="text-center">
		{% include 'partial/loading.html.twig' %}
	</div>

	<form class="form-horizontal" style="display: none" data-bind="visible: !loading() && !loadingFailed()">

		<div class="panel panel-default">
			<div class="panel-heading">Your information</div>
			<div class="panel-body">

				<fieldset class="form-group">
					<label class="col-sm-3 control-label">First Name</label>
					<div class="col-sm-9">
						<input class="form-control" type="text" minlength="1" placeholder="First Name">
					</div>
				</fieldset>
				<fieldset class="form-group">
					<label class="col-sm-3 control-label">Last Name</label>
					<div class="col-sm-9">
						<input class="form-control" type="text" minlength="1" placeholder="Last Name">
					</div>
				</fieldset>
			</div><!-- / .panel-body -->
		</div><!-- / .panel -->

		<div class="panel panel-default">
			<div class="panel-heading">Your picks</div>
			<div class="panel-body">
				<div class="pick">
					{% include 'partial/pick.html.twig' %}
				</div>
			</div>
		</div>

		<div class="text-right">
			<button class="btn btn-primary" type="submit">Submit</button>
		</div>

	</form>

	<div style="display: none" data-bind="visible: loadingFailed" class="alert alert-danger" role="alert">
		<i class="fa fa-exclamation-circle fa-4x pull-left"></i>
		<h4>Failed to load the league and team data.</h4>
		<p>
			This error can't be recovered from. Please
			<a href="{{ path('contact-us') }}">contact someone</a>.
		</p>
	</div>

</div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts_main %}
	<script src="{{ asset('js/submit-picks.js') }}"></script>
{% endblock %}
