{% extends 'base.html.twig' %}

{% block body %}
<div class="container container--main" data-bind="
	css: {
		'has-error': loadingFailed
	}">
	<h1>Submit Your Picks</h1>

	<div data-bind="visible: loading">
		{% include 'partial/loading.html.twig' %}
	</div>

	<form class="form-horizontal pick-form" style="display: none" data-bind="visible: !loading() && !loadingFailed()">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Reminders</h2>
			</div>
			<div class="panel-body clearfix">
				<ul>
					<li>All picks must be submitted at the same time</li>
					<li>Picks must be made before the games start</li>
				</ul>
				<div>
					<button class="btn btn-default" type="button"
						data-toggle="collapse" data-target="#the-rules"
						aria-expanded="false" aria-controls="the-rules">
						Show All Rules</button>
					<div class="collapse" id="the-rules">
						<div class="well">
							The rules would go here
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading"><h2 class="panel-title">Your information</h2></div>
			<div class="panel-body">

				<fieldset class="form-group">
					<label class="col-sm-2 control-label">Username</label>
					<div class="col-sm-4">
						<input class="form-control" type="text" minlength="1" placeholder="Username">
					</div>
					<label class="col-sm-2 control-label">Password</label>
					<div class="col-sm-4">
						<input class="form-control" type="password" minlength="6" placeholder="Password">
					</div>
				</fieldset>
			</div><!-- / .panel-body -->
		</div><!-- / .panel -->

		<div class="panel panel-default">
			<div class="panel-heading"><h2 class="panel-title">Pick Sources</h2></div>
			<div class="panel-body">
				<div class="line-source">
					{% include 'partial/line-source.html.twig' %}
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading"><h2 class="panel-title">Your picks</h2></div>
			<div class="panel-body">
				<div class="picks">
					{% include 'partial/pick.html.twig' with {'pick_number': 1} %}
					{% include 'partial/pick.html.twig' with {'pick_number': 2} %}
					{% include 'partial/pick.html.twig' with {'pick_number': 3} %}
					{% include 'partial/pick.html.twig' with {'pick_number': 4} %}
					{% include 'partial/pick.html.twig' with {'pick_number': 5} %}
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading"><h2 class="panel-title">Miscellaneous</h2></div>
			<div class="panel-body">
				<fieldset>
					<label class="col-sm-2 control-label">
						Comments
					</label>
					<div class="col-sm-10">
						<textarea class="form-control comments"></textarea>
					</div>
				</fieldset>
				<fieldset>
					<label class="col-sm-2 control-label">
						Confidence Level
					</label>
					<div class="col-sm-10">
						<div class="radio-inline">
							<label>
								<input type="radio" name="confidence-level" value="0"> None
							</label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="confidence-level" value="0"> Low
							</label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="confidence-level" value="0"> Medium
							</label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="confidence-level" value="0"> High
							</label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="confidence-level" value="0"> Supreme
							</label>
						</div>
					</div>
				</fieldset>

			</div>
		</div>

		<div class="text-right">
			<button class="btn btn-primary" type="submit">Submit</button>
		</div>

	</form>

	<div style="display: none" data-bind="visible: loadingFailed" class="alert alert-danger" role="alert">
		<i class="fa fa-exclamation-circle fa-4x pull-left"></i>
		<h4>Failed to load the league and team data.</h4>
		<p>
			This error can't be recovered from. Please
			<a href="{{ path('contact-us') }}">contact someone</a>.
		</p>
	</div>

</div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts_main %}
	<script src="{{ asset('scripts/submit-picks.js') }}"></script>
{% endblock %}
