@TOP-NAV-HEIGHT: 50px;

@import (reference) "bootstrap.less";

body {
  padding-top: @TOP-NAV-HEIGHT;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9000;
    overflow: hidden;

    .background_left,
    .background_right {
        background-image: url(../images/football-bg.png);
        background-repeat: repeat-y;
        width: 480px;
        height: 100%;
        position: absolute;;
    }
    .background_left {
        background-position: left;
        left: 0;
        top: 0;
    }
    .background_right {
        background-position: right;
        right: 0;
        top: 0;
    }
}

.pick-form {
    .picks {
        .pick-number {
            padding-top: 0;
            h2 {
                padding: 0;
            }
        }
        @media (max-width: @screen-sm-min) {
            .pick-number {
                h2 {
                    margin-top: 0;
                    .small, small {
                        color: inherit;;
                    }
                }
            }
        }
        @media (min-width: @screen-sm-min) {
            .pick-number {
                .text-right();
            }
        }

        .pick {
            padding: 24pt 0;
            border-bottom: 1px solid @gray-lighter;
        }
        .pick:last-of-type {
            border-bottom: none;
        }

    }

    .comments {
        min-height: (@font-size-base * 6);
    }
}


.loading-message {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    vertical-align: middle;
    font-size: @font-size-base * 2;

    div {
        position: absolute;
        top: 50%;
        text-align: center;
        width: 100%;
        margin-top: -(@font-size-base*4);

        p {
            color: @gray-light;
            position: absolute;
            text-align: center;
            width: 100%;
            display: block;
            line-height: @font-size-base * 15;
        }

        i {
            color: @gray-dark;
            font-size: @font-size-base * 15;
        }
    }
}
