
<fieldset class="form-group">
    <label class="col-xs-3 col-sm-2 control-label">
        League
    </label>
    <div class="col-xs-9 col-sm-10">
        <div class="btn-group" role="group" aria-label="League filter">
            <button type="button" class="btn btn-default active">All</button>
            <button type="button" class="btn btn-default">NFL</button>
            <button type="button" class="btn btn-default">NCAA</button>
        </div>
    </div>
</fieldset>
<fieldset class="form-group">
    <label class="col-sm-2 control-label">
        Source
    </label>
    <div class="col-sm-4">
        <select class="form-control" data-bind="foreach: lineSources">
            <option data-bind="
                text: name,
                attr: { value: id }
            "></option>
        </select>
    </div>
    <label class="col-sm-2 control-label">
        Line
    </label>
    <div class="col-sm-4">
        <select class="form-control">
        </select>
    </div>
</fieldset>
