<div class="well">
    <fieldset class="form-group">
        <label class="col-sm-3 control-label">
            Source
        </label>
        <div class="col-sm-9">
            <select class="form-control">
                <option>Vegas - NCAA</option>
                <option>Vegas - NFL</option>
                <option>Yahoo - NCAA</option>
                <option>Yahoo - NFL</option>
            </select>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <label class="col-sm-3 control-label">
            Team #1
        </label>
        <div class="col-sm-9">
            <input class="form-control"></input>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <label class="col-sm-3 control-label">
            Team #2
        </label>
        <div class="col-sm-9">
            <input class="form-control"></input>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <label class="col-sm-3 control-label">
            Type
        </label>
        <div class="col-sm-9">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">Over/under</button>
                <button type="button" class="btn btn-default">Spread</button>
            </div>
        </div>
    </fieldset>
</div>
