<div class="rules">
<ol>
    <li>
        The season runs concurrently with the NFL season, through the
        Super Bowl. Weeks run Tuesday to Monday.
        <ol>
            <li>
                Five picks per player, per week, through Week Nineteen.
            </li>
            <li>
                Players must make 3 Week Twenty picks (NFL conference
                championship week), and 2 Week Twenty-One (Super Bowl
                with bye-week) picks.
            </li>
            <li>
                One-hundred picks total for the season.
            </li>
        </ol>
    </li>

    <li>
        Picks can be TEAMS or TOTALS, COLLEGE or PROFESSIONAL, by point-spread.
        <ol>
            <li>
                Lines must be from one source, at one time, per week.
                The source <em>must be a single set of lines available
                on Vegas.com (NCAA; NFL) or Yahoo! (NCAA; NFL).</em>
                These lines are linked to from the Website.
                <ol>
                    <li>
                        The idea is that you are making your picks as though
                        you are placing five bets at the same time at the
                        same casino, so lines cannot be mixed and matched.
                    </li>
                    <li>
                        If a desired line is not posted at a particular
                        bet-taker, you can not take the line from another
                        source. You must shop around for a different source,
                        wait it out, or make another pick.
                    </li>
                    <li>
                        All picks must be made from one set of lines, For
                        example, <abbr>MGM-Grand</abbr> or <abbr>5dimes.com</abbr>
                        is acceptable. Line aggregators such as <em>Yahoo</em>
                        or <em>Vegas.com</em> are
                        not bet-takers nor are they considered one source
                        for picks.
                    </li>
                    <li>
                        Picks must be accompanied by the source and day
                        of picks made.
                    </li>
                    <li>
                        Lines for picks are on the Honor System, so please be
                        honest. Plus, we can and will check it anyway.
                    </li>
                </ol>
            </li>
            <li>
                Both sides of the same pick may be made, but not the
                same pick twice.
                <ol>
                    <li>
                        For example, you may pick Giants v. Eagles
                        <code>OVER (41)</code> and Giants v. Eagles
                        <code>UNDER (41)</code>, but you may not pick
                        the Over or the Under twice.
                    </li>
                </ol>
            </li>
            <li>
                If a Player makes more than five picks, the first five
                valid picks in order of appearance are the Player’s
                picks for the week.
            </li>
            <li>
                Any unmade pick is a loss.
            </li>
            <li>
                Any unintelligible pick is a loss.
            </li>
            <li>
                 Picks must be e'mailed to
                 pushmasterinvitational@gmail.com
                 before kickoff of first game picked.
                 <ol>
                     <li>
                        Your entire e'mail will be posted to the Website,
                        www.pushmasterinvitational.blogspot.com.
                    </li>
                 </ol>
            </li>
        </ol>
    </li>

</ol>
</div>
