




/*
     FILE ARCHIVED ON 19:40:38 Dec 31, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 6:08:10 Apr 10, 2016.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/

/* sfl-notifier.css ee15495 */ #yucsHead .sfl-icon{height:22px;background-color:#400090;background-image:url("/web/20151231194038/http://l.yimg.com/os/mit/media/m/content/images/btn_save_selected-741b07f.svg");background-position:50%;background-repeat:no-repeat;background-size:11px;background:url("/web/20151231194038/http://l.yimg.com/os/mit/media/m/content/images/topic_bar_sprite-ee15495.png") no-repeat 5px -235px #400090 \9;position:absolute;width:22px;z-index:2}